.ThankYouPage {
  width: 55%;
  margin-bottom: 55px;
  &-heading {
    h1 {
      font-family: 'Montserrat-Bold';
      font-size: 35px;
      color: white;
      text-align: left;
    }
  }
  &-paragraph {
    p {
      font-family: "Merriweather-Regular";
      font-size: 20px;
      color: #fff;
      text-align: left;
      margin-bottom: 75px;
    }
  }
}