.SignUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__container {
    width: 55%;
    &-paragraph {
      font-family: "Merriweather-Regular";
      font-size: 20px;
      color: #fff;
      text-align: left;
      margin-bottom: 75px;
    }
    &-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      &-fields {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      &-email {
        width: 80vw;
        &-error {
        font-family: "Merriweather-Regular";
        font-size: 12px;
        color: white;
        position: absolute;
        text-align: right;
        margin-top: -30px;
        width: 27vw;
      }
        &-input {
          width: 90%;
          padding: 12px 20px;
          font-family: "Merriweather-Italic";
          font-size: 16px;
        }
        .active {
          border: 2px solid #d02035;
        }
      }
      &-yourInterest {
        width: 80vw;
        select {
          font-family: "Merriweather-Italic";
          font-size: 16px;
          width: 100%;
          padding: 12px 20px;
        }
        &-placeholderFont {
          font-family: "Merriweather-Italic";
          font-size: 16px;
          color: "#797979";
        }
      }
    }
    &-submit {
      &-button {
        font-family: "Merriweather-Bold";
        font-size: 20px;
        width: 55vw;
        padding: 12px 20px;
        border: none;
        border-radius: 2px;
        margin-top: 30px;
        background-color: #d02035;
        color: white;
      }
      &-button:hover {
        background-color: #7e1420;
        -webkit-transition: 0.2s;
        transition: 0.2s;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .SignUpForm {
    width: 100%;
    &__container {
      width: 85%;
      &-paragraph {
        text-align: center;
      }
      &-form {
        margin-left: 10px;
        &-error {
          margin-top: -30px;
          width: 250px;
        }
        &-fields {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        &-email {
          width: 80vw;
          &-input {
            width: 87%;
          }
          &-error {
            position: absolute;
            width: 80vw;
          }
          margin-bottom: 20px;
        }
        &-yourInterest {
          width: 80vw;
          select {
            width: 100%;
          }
        }
      }
      &-submit {
        &-button {
          width: 80vw;
        }
      }
    }
  }
}
