@font-face {
  font-family: 'Montserrat-Bold';
  src: url('./fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: "Merriweather-Regular";
  src: url("./fonts/Merriweather-Regular.ttf");
}
@font-face {
  font-family: "Merriweather-Italic";
  src: url("./fonts/Merriweather-Italic.ttf");
}

@font-face {
  font-family: "Merriweather-Bold";
  src: url("./fonts/Merriweather-Bold.ttf");
}
